body{
font-family: "Franklin Gothic", sans-serif;
}

.preloader {
	position: fixed;
	left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 1001;
    }

.preloader__row {
      position: relative;
      top: 50%;
      left: 50%;
      width: 70px;
      height: 70px;
      margin-top: -35px;
      margin-left: -35px;
      text-align: center;
      animation: preloader-rotate 2s infinite linear;
    }

    .preloader__item {
      position: absolute;
      display: inline-block;
      top: 0;
      background-color: #337ab7;
      border-radius: 100%;
      width: 35px;
      height: 35px;
      animation: preloader-bounce 2s infinite ease-in-out;
    }

    .preloader__item:last-child {
      top: auto;
      bottom: 0;
      animation-delay: -1s;
    }

    @keyframes preloader-rotate {
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes preloader-bounce {

      0%,
      100% {
        transform: scale(0);
      }

      50% {
        transform: scale(1);
      }
    }

    .loaded_hiding .preloader {
      transition: 0.3s opacity;
      opacity: 0;
    }

    .loaded .preloader {
      display: none;
    }

nav{
	width: 100%;
	height: 60px;
	background: #344051;
	position: fixed;
}

.logo{
	color: #fff;
	font-size: 23.33px;
	line-height: 60px;
	padding-left: 390px;
	float: left;
	animation: comming 2s ease;
}

.menu{
	float: left;
	padding-left: 430px;

}

.menu li{
	float: left;
	color: #fff;
	font-size: 16.67px;
	line-height: 60px;
	margin-right: 40px;
	text-transform: uppercase;
	animation: tophshift 0.4s ease forwards;
	opacity: 0;

}

.menu li a{
	transition: all 0.1s;
	color: white;
	transform: scale(1);
	display: inline-block;
}

.menu li a:visited{
	color: white;
}

.menu li a:hover{
	color: #e88604;
	
}

.menu li a:active{
	transform: scale(1.1);
}

main{
	width: 100%
	height: 100%;
	display: ruby-base-container;
}

.main{
	width: 100%;
	height: 100%;
	background: url(../img/boy.png) 90% 100%/auto 85%  no-repeat , url(../img/bg.jpg) center/cover  no-repeat;
}

.title__container{
	float: left;
	margin: 430px 0px 0px 400px;
	color: #2c384a;
	text-align: center;
	opacity: 0;
	animation: titlemove 1s ease forwards;
	animation-delay: 2.4s;
}

.title__container h1{
	font-size: 79.17px;

}

.title__container h4{
	margin: 40px;
	font-size: 20.83px;
	color: #79818c;
}

.title__container input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	font-size: 18.82px;
	color: #6d7682;
	padding: 0px 16px;
	margin: 60px 14px 0px 14px;
	transition: all 0.2s;
	transform: scale(1);

}

.title__container input:hover{
	background: #344051;
	color: white;

}

.title__container input:active{
	transform: scale(1.1);
}

@keyframes comming{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@keyframes tophshift{
	from{
		opacity: 1;
		margin-top: -80px;
	}

	to{
		opacity: 2;
		margin-top: 0px;
	}
}

@keyframes titlemove{
	from{
		opacity: 1;
		margin-left: -500px;
	}

	to{
		opacity: 2;
		margin-left: 400px;
	}
}

.menu li:nth-child(2){
	animation-delay: 0.4s
}

.menu li:nth-child(3){
	animation-delay: 0.8s
}

.menu li:nth-child(4){
	animation-delay: 1.2s
}

.menu li:nth-child(5){
	animation-delay: 1.6s
}

.menu li:nth-child(6){
	animation-delay: 2s
}

.info{
	width: 100%;
	height: 70%;
	color: #263244;
	text-align: center;
	background: url(../img/boymini.png) 50% 25% no-repeat, url(../img/line.png) 50% 8% no-repeat  ;
}

.info_s{
	float: center;
	margin: 108px;
}

.info_s h2{
	font-size: 33.33px;
	
}

.info_s p{
	font-family: Calibri, sans-serif;
	margin: 322px 400px 37px 400px;
	font-size: 17.67px;
	color: #3f495a;
	text-align: left;

}
.info_s span{
	font-family: Calibri, sans-serif; 
	font-size: 17.67px;
	color: #3f495a;
	text-align: left;
}

.info_s input{
	text-align: center;
	font-size: 16.67px;
	color: #3f495a;
	border: 2px solid #6f707e;
	border-radius: 8px;
	padding: 7px 12px 7px 32px;
	background: url(../img/download.png) 5% 50%  no-repeat;
	transition: all 0.2s;
	transform: scale(1);	
}

.info_s input:hover{
	background: #344051 url(../img/download.png) 5% 50%  no-repeat;
	color: white;
}

.info_s input:active{
	transform: scale(1.1);
}

.skills{
	width: 100%;
	height: 55%;
	background: url(../img/line.png) 50% 162px no-repeat, url(../img/bg2.jpg) center/cover no-repeat ;
	text-align: center;
	color: #263244;
}

.skills_s h2{
	font-size: 33.33px;
	padding: 108px 0px 136px 0px;
	text-transform: uppercase; 
	
}
.item_skills{
	text-align: center;
	display: inline-block;
	margin: 0px 42px 0px 42px;

}

.item_skills h4{
	font-family: Bahnschrift, sans-serif;
	font-size: 18.58px;
	color: #cf7600;
	font-weight: 600;
	padding-bottom: 18px;
	
}


.item_skills p{
	font-family: Calibri, sans-serif;
	font-size: 16.67px;
	text-align: center;
	
}

.case{
	width: 100%;
	height: 115%;
	background: url(../img/line.png) 50% 162px no-repeat,  url(../img/case.jpg) 0% 269px no-repeat;
	text-align: center;
	color: #384354;
	

}
.case h2{
	font-size: 33.33px;
	text-transform: uppercase;
	padding: 108px 0px 72px 0px;
}

.case p{
	font-family: Calibri, sans-serif;
	font-size: 16.67px;
	animation: comming 1.5s ease;
}

.info_w{
	padding-top: 669px;
	text-align: left;
	margin-left: 390px; 
	float: left;
	line-height: 30px;
	animation: comming 3.5s ease;

}

.info_w h3{
	font-size: 25px;

	
}

.info_w span{
	font-family: Calibri, sans-serif;
	font-size: 16.67px;
	color: #3f495a;
}

.info_d{
	padding: 669px 380px 0px 673px ;
	text-align: left;
	line-height: 26px;
	animation: comming 5.5s ease;
}

.info_d h4{
	font-size: 25px;

}

.info_d p{
	font-family: Calibri, sans-serif;
	font-size: 20.83px;
}

.case input{
	width: 200px;
	height: 45px;
	text-align: center;
	font-size: 20.83px;
	color: #fff;
	border: 0px solid #fff;
	border-radius: 8px;
	background: #63b5ae;
	float: left;
	margin-left: 390px;
	transition: all 0.2s;
	transform: scale(1);
}

.case input:hover{
	background: forestgreen;
}

.case input:active{
	transform: scale(0.9);
}

.price{
	width: 100%;
	height: 100%;
	color: #1c2534;
}

.price h2{
	font-size: 45.83px;
	text-align: center;
	padding-top: 170px;
}

.price h3{
	font-size: 29.17px;
	text-align: left;
	padding-top: 50px;
	margin-left: 493px;
}

.price select{
	padding: 23px 766px 23px 25px;
	font-size: 16.67px;
	color: #737373;
	border: 0px solid #fff;
	background: #eeeeee;
	margin: 28.5px 0px 0px 493px;
	padding-left: 23px;

}

.endprice {
	font-size: 20.83px;
	margin-left: 493px;
	padding-top: 65px;
	background: url(../img/longline.png) 0% 37px  no-repeat;

}

.endprice span{
	float:right;
	margin-right: 517px;

}

.stat{
	width: 100%;
	height: 55%;
	background: url(../img/line.png) 50% 162px no-repeat, url(../img/bg3.jpg) fixed center/cover no-repeat;
	text-align: center;
	color: #323d4f;


}
.stat h2{
	font-size: 33.33px;
	padding-top: 108px;
}

.item_stat{
	text-align: center;
	display: inline-block;
	padding-top: 124px;
	margin: 0px 79px 0px 79px;
}

.item_stat h3{
	font-size: 29px;
	font-weight: 700;
}

.item_stat p{
	font-size: 16px;
}



.feedback{
	width: 100%;
	height: 65%;
	text-align: center;
	color: #323d4f;
	background: url(../img/line.png) 50% 162px no-repeat, url(../img/man.png) 50% 226px no-repeat;

}

.feedback h2{
	font-size: 33.33px;
	padding-top: 108px;
}

.info_f p{
	font-size: 16.67px;
	font-family: Calibri, sans-serif;
	padding-top: 221px;
}

.name p{
	font-family: Calibri, sans-serif;
	font-size: 16.67px;
	margin: 40px 0px 50px 0px;
}

.feedback input{
	margin: 0px 7px 0px 7px;
}

.contacts{
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
	background: url(../img/line.png) 50% 168px no-repeat, url(../img/bg4.jpg) center/cover no-repeat;
}

.contacts h2{
	font-size: 33.33px;
	padding: 108px 0px 70px 0px ;
}

.contacts p{
	font-family: Calibri, sans-serif;
	font-size: 16.67px;
	
}

.contacts_info{
	display: inline-block;
	padding: 50px 56px 38px 56px;

}

.contacts_info p{
	font-family: Calibri, sans-serif;
	font-size: 16.67px;
	float: left;
}

.submit h3{
	font-size: 20.83px;
}

.submit input{
	
	margin: 46px 14px 0px 14px;
	padding: 10px 230px 14px 14px;
	font-size: 16.67px;
	color: #5d5d5e;
	opacity: 0;
}
 
 .submit textarea{
 	font-family: "Franklin Gothic", sans-serif;
 	font-size: 16.67px;
 	color: #5d5d5e;
 	margin: 0px 28px 0px 14px;
 	padding: 10px 635px 75px 14px;
 	opacity: 0;
	animation: areamove1 1s ease forwards;
	animation-delay: 2.4s;

 }

 .submit input[type=text]{
 	animation: areamove2 1s ease forwards;
	animation-delay: 2.4s;
 }

 .submit input[type=email]{
 	animation: areamove3 1s ease forwards;
	animation-delay: 2.4s;
 }

@keyframes areamove1{
	from{
		opacity: 1;
		margin-bottom: -500px;
	}

	to{
		opacity: 2;
		margin-bottom: 0px;
	}
}

 @keyframes areamove2{
	from{
		opacity: 1;
		margin-left: -500px;
	}

	to{
		opacity: 2;
		margin-left: 0px;
	}
}

 @keyframes areamove3{
	from{
		opacity: 1;
		margin-left: 1000px;
	}

	to{
		opacity: 2;
		margin-left: 0px;
	}
}

 .submit_end input{
 	font-size: 20.83px;
 	color: #fff;
 	text-align: center;
 	border: 2px solid #fff;
 	padding: 15px 19px 13px 19px;
 	margin-top: 1px;
 	border-radius: 8px;
 	background: none;
 	transform: scale(1);
 	opacity: 0;
 	animation: comming 3.5s ease forwards;
 	animation-delay: 2.8s;
 }

 .submit_end input:hover{
 	background: white;
 	color: black;
 }

 .submit_end input:active{
 	transform:scale(0.9);
 }

.end{
	width: 100%;
	height: 93px;
	background: #354051;
	font-family: Arial, sans-serif;
	font-size: 13.27px;
	color: #fff;
	text-align: center;
	font-weight: 600;
}
.end p{
	padding-top: 41px;
}